.header-div {
    width: fit-content;
    height: fit-content;
    margin: 0 auto
}

.content {
    color: #FFFF;
    margin-top: -2rem;
    margin-bottom: -1rem;
    font-family: 'Georgia';
    font-weight: 800;
    font-size: 5rem;
}